<app-topnavbar></app-topnavbar>
<app-header></app-header>

<!-- <div style="text-align:Center">
  <h1>
     {{ title }} 
  </h1>
</div> -->
<main>
  <ul id="users">
    <app-books />
  </ul>
</main>

<app-servers></app-servers>

<!--Following section provides reader's favourite items-->
<app-favourites></app-favourites>

<hr>
<h3>!!New Arrivals!!!</h3>
<app-warning-alert></app-warning-alert>

<ul>
  <p>Section: Best Sellers</p>
  <li><app-success-alert></app-success-alert></li>
</ul>

<hr>
<h3>!!! Best sellers !!</h3>
<app-success-alert></app-success-alert>

<hr>
<h2>Entity Overview</h2>
<app-entity></app-entity>
